# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!.yarnrc.yml
!.yarn
!.yarn/**
!tsconfig.json
!webpack
!webpack/**
!src
!src/main
!src/main/**
src/main/public/
!config
!config/**
!webpack.config.js
